.table-container {
  padding: 20px;
  margin-top: 30px;
}

.inventory-table {
  border: 1px solid #002884;
  border-radius: 5px;
  width: 100%;
  padding: 50px;
}

.t-body {
  text-align: center;
}

// style.scss

/* Existing styles for larger screens */

.table-container {
  overflow-x: auto;
}

// .inventory-table {
//   width: 100%;
//   padding: 50px;
//   border-collapse: collapse;
// }

@media screen and (max-width: 768px) {
  .inventory-table {
    overflow-y: hidden;
    // justify-content: space-between;
    display: block;
    border: none;
    padding: 0px;
    white-space: nowrap;
  }

  .inventory-table thead,
  .inventory-table tbody,
  .inventory-table th,
  .inventory-table td,
  .inventory-table tr {
    display: block;
  }

  .inventory-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .inventory-table tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .inventory-table td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: center;
    white-space: normal;
  }

  .inventory-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
  }

  .inventory-table td:last-child {
    border-bottom: 0;
  }
}
